/* Resources */

@font-face {
    font-family: 'latoregular';
    src: url('../resources/lato-regular-webfont.woff2') format('woff2'),
         url('../resources/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Main */

body {
    margin: 0;
    padding: 0;
    font-family: 'latoregular';
    font-size: 20px;
    font-weight: 400; 

}


span {
    position: fixed;
    color: red;
    margin-left: 20px;
}


/* Cabeçalho // Header */

.header {
    width: 100%;
    height: 60px;
    background-color: #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    width: 30px;
    height: 27.63px;
    margin-left: 22px;

}

.btn-menu {
    width: 18px;
    height: 2px;
    background-color: #333;
    margin: 3px 0;
    
}

.buttons {
    margin-right: 21px;

}

input[type="checkbox"] {
    display: none;

}

.responsive-menu {
    visibility: hidden;
    background-color: #333;
    color: white;
    position: fixed;
    height: 100%;
    width: 85.4%;
    right: 0px;
    top: 0px;

}

input[type="checkbox"]:checked ~ .responsive-menu {
    visibility: visible;
}

.responsive-menu-text {
    list-style-type: none;
    font-size: 16px;
    margin-top: 9px;
    text-align: right;
    display: block;
    padding: 13px 20px;
    line-height: 19.2px;
    cursor: pointer;

}

.responsive-menu-text:hover {
    background-color: #E0E0E0;
    color: black;
    max-width: 100%;
    max-height: 100%;

}


.responsive-menu-x {
    list-style-type: none;
    margin-left: 20px;
    
}

.responsive-menu ul {
    padding: 0;

}


/* Formulário */

.formulario {
    font-size: 16px;
    margin-left: 20px;
    margin-top: 26px;
    justify-content: center;
}

input, select {
    border-radius: 5px;

}

.campo {
    margin-bottom: 20px;

}

.campo label {
    margin-bottom: 0.5em;
    display: block;
}

.campo input[type="text"], .campo #transacao{
    padding: 0.2em;
    border: 1px solid #979797;
    width: 94%;
    height: 32px;
    display: block;
    color: #888888;
    
}

.campo #transacao {
    width: 96.2%;
    height: 40px;
}


.campo select option {
    padding-right: 1em;
}

.button {
    background-color:   #333 ;
    border-radius: 5px;
    color: #fff;
    width: 96.2%;
    height: 32px;
    border: none;
    letter-spacing: 0.5px;
}

/* Extrato */

.linha-borda{
    border: 1px solid #979797;
    height: 0;
    margin-top: 5px;
    margin-left: 3%;
    margin-right: 3%;
}

.destaque{
    font-weight: bold;
    margin-top: 2%;
}
.separar-titulos{
    display: flex;
    justify-content: space-between;
    margin-left: 8%;
    margin-right: 8%;
}

.produto-extrato{
   width: 100%; 
 

}   
.produto{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.coluna-produto {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5px;
}














.linha {
    
    width: 90%;
    margin-top: 29px;

}

.linha2 {
    width: 90%;
    margin-top: 2vw;
}

.linha3 {
    width: 90%;
    margin-top: 3px;
}

.line {

    display: flex;
    align-items: center;
    justify-content: center;
    
}


.extrato-linha1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5%;
    font-size: 14px;

}

.extrato-linha2 {
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 50px;
    margin-top: 7px;
    font-size: 14px;
    text-align: left;
    
}

.plus {
    font-size: 14px;
    margin-left: 30px;
    margin-top: 7px;
    position: absolute;
}

.extrato-valor {
    text-align: right;    

}

.extrato-linha3 {
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 50px;
    margin-top: 7px;
    font-size: 14px;
    text-align: left;
    
}

.extrato-linha4 {
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 50px;
    margin-top: 7px;
    font-size: 14px;
    text-align: left;
    
}


.extrato-linha5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 3%;
    font-size: 14px;

}



.extrato-title {
    text-align: center;
    margin-top: 41px;
    font-size: 18px;

}


.resultado {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0;
    margin-top: 2%;
    
}

.footer {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 8px;
    left: 0px;
    bottom: 0;

}

.nova-transacao {
    visibility: hidden;
}



/* Media Queries */

@media (min-width: 768px) {
        .formulario form { 
            display: flex;
            flex-direction: row;   
            align-items: center;
            align-content: center;
            background: #FFFFFF;
            border: 1px solid #979797;
            box-sizing: border-box;
            border-radius: 4px;
            width: 98%;
            height: 189px;
                    
        }
               


        


        .grupo {
            flex-shrink: 0;
            width: 97%;
            justify-content: space-between;
        }

        .campo {
            flex-shrink: 0;
            
            margin: 0px;
            padding: 0px;
            
        }

        #campo2 {
            margin-left: 10px;
            

        }

        #campo3 {
            width: 21vw;
            margin-left: 0px;
            
        }

        

        #botao {
            
            margin: 0px;
            padding: 0px;
            position: fixed;
            float: right;
            right: 5%;
            width: 200px;
            margin-top: 80px;
            
            
            
        }

        .nova-transacao {
            visibility: visible;
            position: fixed;
            padding: 0px;
            height: 20px;
            width: 50%;
            margin-left: 40%;
            margin-top: 20px;
                      
        }

        
        .line .linha {
            visibility: hidden;
        }


        .campo label {
            margin-bottom: 0.5em;
            margin-left: 20px;
            align-items: center;
        }

        
        #valor-text {
            margin-left: 5px;
        }




        
        .campo input[type="text"], .campo #transacao{
            padding: 0.2em;
            border: 1px solid #979797;
            width: 100%;
            height: 32px;
            
            color: #888888;
            margin-left: 20px;
            
        }
        
        .campo #transacao {
            width: 96.2%;
            height: 40px;
        }
        
        
        .campo select option {
            padding-right: 1em;
            width: 200px;
        }

        .grupo {
            display: flex;
            
        }


        .mercadoria, #mercadoria {
            width: 45vw;
            margin-left: 20px;
            margin-right: 8px;
            
        }

                   
    
        .valor, #valor {
            
            margin-left: 0px;
            margin-right: 5%;
            
            

        }


        .responsive-menu {
            width: 35%;
        }


               
        .linha2 {
            width: 95%;
            margin-top: 2vw;
        }
        
        .linha3 {
            width: 95%;
            margin-top: 3px;
        }
        
        .line {
        
            display: flex;
            align-items: center;
            justify-content: center;
            
        }



       


}



@media (min-width: 1112px) {


    
    

    .formulario {
        display: flex;
        justify-content: left;
        width: 344px;
        height: 400px;
        
    }

    form {
        display: flex;
        flex-direction: column;

    }

    .grupo {
        flex-direction: column;
        margin-top: 60px;
        width: 100%;
        
    }


    #botao {
            
        margin: 0px;
        padding: 0px;
        display: block;
        margin-top: 7%;
        margin-left: 7%;
        position: relative;
        width: 96%;
        
    }
    

    

    nav div {
        margin-top: 20px;
        width: 90%;
        margin-left: 3%;
    }

    #campo2, #mercadoria {
        margin-top: 20px;
        width: 92%;
        margin-left: 3%;
    }
    
    #campo3, #valor {
        margin-top: 20px;
        width: 92%;
        margin-left: 3%;
        justify-content: right;
    }

    .campo label {
        margin-left: 4%;
    }

    
    #transacao2 {
        margin-left: 7%;
        margin-bottom: 15px;
    }

        
    


    .formulario form { 
        display: flex;
        flex-direction: column;   
        align-items: center;
        align-content: center;
        background: #FFFFFF;
        border: 1px solid #979797;
        box-sizing: border-box;
        border-radius: 4px;
        width: 344px;
        height: 400px;
        

    }


    .nova-transacao {
        visibility: visible;
        position: absolute;
        padding: 0px;
        height: 20px;
        width: 50%;
        margin-left: 120px;
        margin-top: 40px;
                  
    }
    
    


    .grid {
        display: flex;
        margin-right: 20px;    
        
    }

    .extrato {
        width: 100%;
        

    }


    .linha {
        width: 0px;
        
    }


    .responsive-menu {
        visibility: visible;
        background-color:   white;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 40px;
        margin-top: 10px;
        margin-right: 5%;
        width: 400px;
        
        
    }


    ul {
        display: flex;
        color: black;
        margin: 0px;
    }

    ul label {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

  
    .responsive-menu-text {
        padding: 0px;
        margin-top: 10px;
        margin-right: 10px;
        font-size: 14px;
        padding-left: 10px;
        margin-bottom: 10px;
          
  
    }


   ul > li:nth-child(n + 4) {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: black;
    

   }



    .header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
    }

    .header-title {
        display: block;
        margin-left: 20px;
           
        
    }

    .buttons {
        visibility: hidden;
    }


    .logo {
        display: block;
        margin-left: 5%;
    }




}


@media (min-width: 1500px) {

    .grid {
        margin-left: 10%
    }

   
    .logo {
        margin-left: 15%;
    }

    .extrato {
        width: 65%;
    }



    #botao {
            
        margin: 0px;
        padding: 0px;
        display: block;
        margin-top: 7%;
        margin-left: 7%;
        position: relative;
        width: 96%;
        
    }
  



    .responsive-menu-text:hover {
        background-color: #E0E0E0;
        color: black;
        height: 100%;
        
    }





}